.App{
  max-width: 1440px;
  max-height: 576px;
  margin: auto;

  /* fonts */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.App__main-bg{
  background-image: url('../../images/bg.png');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 1440px 576px;
}

.signedIn .App__main-bg{
  background-image: none;
}

@media screen and (max-width: 768px){
  .App{
    max-width: 768px;
    margin: 0px;
  }

  .App__main-bg{
    background-size: 768px 400px;
  }
}

@media screen and (max-width: 591px){
  .App{
    max-width: 591px;
  }

  .App__main-bg{
    object-fit: none;
    background-size: 591px 591px; 
  }
}