.App{
  max-width: 1440px;
  background-color: #1A1B22;
  margin: auto;

  /* fonts */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media screen and (max-width: 768px){
  .App{
    max-width: 768px;
    margin: 0px;
  }
}

@media screen and (max-width: 320px){
  .App{
    max-width: 320px;
  }
}