.App{
  max-width: 1440px;
  margin: auto;

  /* fonts */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.App__main-bg{
  background-image: url('../../images/bg.png');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 1440px 576px;
}

.signedIn .App__main-bg{
  background-image: none;
}

@media screen and (max-width: 1250px){
  .App{
    max-width: 768px;
  }

  .App__main-bg{
    background-size: 768px 400px;
  }
}

@media screen and (max-width: 709px){
  .App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .App__main-bg{
    object-fit: none;
  }
}

@media screen and (max-width: 640px){
  .App{
    max-width: 320px;
  }
  .App__main-bg{
    background-image: url('../../images/bg-mobile.png');

    object-fit: scale-down;
    background-position: center;
    background-clip: border-box;
    background-size: cover;
  }
}
