.main{
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.main__title{
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
}
.main__subtitle{
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 122px;
}