.main{
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.main__title{
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
}
.main__subtitle{
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 709px){
  .main{
    max-width: 709px;
  }
  .main__title{
    margin-left: 16px;
    margin-right: 16px;
  }
  .main__subtitle{
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 48px;

  }
}

@media screen and (max-width: 640px){
  .main{
    max-width: 320px;
  }

}