.savedNews{
  background: #F5F6F7;
  display: flex;
  flex-direction: column;
}

.savedNews__title{
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: normal;
  color: #1A1B22;
  font-size: 40px;
  line-height: 46px;
  margin-left: 104px;

}

.savedNews__show-more{
  background: #FFFFFF;
  border-radius: 80px;
  margin: auto;
  margin-top: 56px;
  margin-bottom: 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #1A1B22;

  width: 288px;
  height: 64px;
}

.savedNews__show-more:hover{
  cursor: pointer;
  opacity: 0.9;
}

@media screen and (max-width: 1250px){
  .savedNews__show-more{
    width: 240px;
    height: 56px;
    margin-top: 22px;

  }
}
@media screen and (max-width: 709px){
  .savedNews__title{
    font-size: 30px;
    line-height: 34px;
    margin-left: 16px;
  }
  .savedNews__show-more{
    width:288px;
    height:56px;
    margin-top: 15px;
  }
}