.about{
  max-width: 1440px;
  max-height: 624px;
  background: #FFFFFF;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 80px 104px;
  box-sizing: border-box;
}

.about__img-container{
  max-width: 464px;
  max-height: 464px;
  flex-shrink: 1;
}

.about__img{
  width: 100%;
  border-radius: 1000px;
}

.about__text{
  margin-left: 56px;
  max-width: 600px;
  flex-shrink: 2;


  font-style: normal;
  font-weight: normal;
  color: #1A1B22;
}

.about__title{
  font-family: "Roboto Slab", Times, serif;
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 24px;
}

.about__description{
  font-family: "Roboto", Times, serif;
  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 768px){
  .about{
    margin: 40px;
    margin-bottom: 61px;
  }
  
  .about__img{
    width: 232px;
    height: 232px;
  }
  
  .about__text{
    margin-left: 32px;
    max-width: 424px;
  }

  .about__title{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 16px;
  }

  .about__description{
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 550px){
  .about{
    flex-direction: column;
    margin: 32px 16px;
    min-height: 752px;
  }
  
  .about__img{
    min-width: 272px;
    height: 272px;
  }
  
  .about__text{
    margin-left: 0px;
    max-width: 288px;
  }

  .about__description{
    font-size: 18px;
    line-height: 24px;
  }
}