.search-field{
  background: #FFFFFF;
  border: 1px solid #D1D2D6;
  box-sizing: border-box;
  backdrop-filter: blur(100px);
  border-radius: 100px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  padding-left: 16px;

  position: relative;
  z-index: 0;

  width:608px;
  height: 64px;
  margin-bottom: 80px;
}

.search-button{
  background: #2F71E5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  color: #FFFFFF;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;

  position: relative;
  z-index: 1;
  width: 168px;
  height: 64px;
  margin-left: -160px;
}

.search-button:hover{
  cursor: pointer;
  background: #347EFF;
}

.search-button.click{
  background:  #2A65CC;
}

@media screen and (max-width: 1250px){
  .search-field{
    width: 448px;
    height: 56px;
    /* margin-top: 48px;
    margin-bottom: 48px; */
  }

  .search-button{
    width: 160px;
    height: 56px;
  }
}

@media screen and (max-width: 709px){
  .search-form{
    margin-bottom: 0px;
  }
  .search-field{
    margin-bottom: 16px;
    width: 288px;
    position: static;
    display: flex;
    flex-direction: column;
  }

  .search-button{
    width: 288px;
    margin-left: 0px;
    position: static;
    margin-bottom: 32px;
  }
}