.header{
  padding-left: 104px;
  padding-right: 104px;
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  border-bottom: solid 1px #C4C4C4;
  height:80px;
}

.header__title{
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  padding-top: 30px;
}

.header__links{
  list-style: none;
  display: flex;
}

.header__link{
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding-top: 30px;
}

.header__link_button{
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding-top: 19px;
  padding-bottom: 13px;
}

.header__link_hidden{
  display: none;
}

.header__link_selected{
  border-bottom: solid 3px #FFFFFF;
  height:48px;
} 

.header__login-button{
  border-style: none;
  border-radius: 100px;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  width: 176px;
  height:48px;
  background-color: #1A1B22;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  margin-left: 24px;
}

.header__collapse-button{
  visibility: hidden;
}


@media screen and (max-width: 768px){
  .header{
    padding: 0px;
    height: 66px;
  }

  .header__title{
    font-size: 20px;
    padding-left: 40px;
    height: 66px;
    padding-top: 16px;
  }

  .header__links{
    padding-right: 40px;
    height: 66px;
  }

  .header__link{
    padding-top: 16px;
  }
  
  .header__link-button{
    font-weight: 500;
    font-size: 16px;
    height: 66px;
  }
  
  .header__login-button{
    width: 152px;
    height: 40px;
    margin-left: 16px;
  }
}

@media screen and (max-width: 501px){
  .header{
    height: 66px;
  }

  .header__title{
    font-size: 16px;
    padding-top: 16px;
    padding-left: 16px;
  }

  .header__links{
    visibility: hidden;
  }

  .header__collapse-button{
    background-color: #1A1B22;
    visibility: visible;
    border: none;
    color: white;
  }

  .header__collapse-button{
    background-color: #1A1B22;
    visibility: visible;
    width: 16px;
    height: 16px;

    background-image: url("../../images/icon/menu-white.svg");
    background-position: center;
    object-fit: cover; 
    background-repeat: no-repeat;
    border: none;
    align-self: center;
    background-color: transparent;
  }
}