.footer{
  margin: 32px 104px 26px 104px;
  display: flex;
  justify-content: space-between;
}

.footer__links{
  display: flex;
}

.footer__nav{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer__nav-item{
  padding-left: 46px;
  padding-right: 46px;
}

.footer__social{
  list-style: none;
  display: flex;
  flex-direction: row;
}

.footer__social-item{
  margin-right: 26px;
}
.footer__social-item:last-of-type{
  margin-right: 0px;
}

.footer__copyright{
  font-family: "Roboto", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #B6BCBF;
}

.footer__nav-link{
  font-family: "Roboto", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  text-decoration: none;
}

.footer__social-button{
  width: 24px;
  height: 24px;
  background-position: center;
  object-fit: cover; 
  background-repeat: no-repeat;
  border: none;
  align-self: center;
  background-color: transparent;
}

.footer__social-button_facebook{
  background-image: url("../../images/icon/social-facebook.svg");
}

.footer__social-button_github{
  background-image: url("../../images/icon/social-github.svg");
}

@media screen and (max-width: 768px){
  .footer{
    margin: 24px 40px 18px 40px;
  }

  .footer__copyright{
    word-wrap: none;
    overflow: hidden;
    min-width: 300px;
  }

  .footer__nav{
    justify-content: space-between;
    width: 200px;
    height: 74px;
    margin-right: 18px;
  }

  .footer__nav-item{
    padding-left: 10px;
    padding-right: 10px;
  }

  .footer__social-item{
    margin-right: 26px;
  }
  .footer__social-item:last-of-type{
    margin-right: 0px;
  }
}

@media screen and (max-width: 550px){
  .footer{
    margin: 20px 16px 20px 16px;
    display: flex;
    flex-direction: column-reverse;
  }

  .footer__copyright{
    margin-top: 38px;
    margin-bottom: 20px;
  }

  .footer__nav{
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 74px;
    margin-right: 18px;
  }

  .footer__nav-item{
    padding-left: 0px;
    padding-right: 0px;
  }

  .footer__social-item{
    margin-right: 26px;
  }
  .footer__social-item:last-of-type{
    margin-right: 0px;
  }
}