.footer{
  display: flex;
  justify-content: space-between;
}

.footer__links{
  display: flex;
}

.footer__nav{
  list-style: none;
  display: flex;
  flex-direction: row;
}


.footer__social{
  list-style: none;
  display: flex;
  flex-direction: row;
}

.footer__copyright{
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #B6BCBF;
}

.footer__nav-link{
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #1A1B22;
}

.footer__social-button{
  width: 24px;
  height: 24px;
  background-position: center;
  object-fit: cover; 
  background-repeat: no-repeat;
  border: none;
  align-self: center;
  background-color: transparent;
}

.footer__nav-button_facebook{
  background-image: url("../../images/icon/social-facebook.svg");
}

.footer__nav-button_github{
  background-image: url("../../images/icon/social-github.svg");
}

@media screen and (max-width: 768px){
  .footer{
    margin: 24px 40px 18px 40px;
  }
}

@media screen and (max-width: 591px){
  .footer{
    margin: 20px 16px 20px 16px;
    row-gap: 18px;
  }

  .footer__nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 74px;
    margin-right: 18px;
  }

  .footer__social-item{
    margin-right: 26px;
  }
  .footer__social-item:last-of-type{
    margin-right: 0px;
  }
}