
.newsCardList{
  position: relative;
  max-width: 1232px;
  display: grid;
  grid-gap: 16px;
  grid-template-columns:repeat(auto-fit, minmax(400px, 1fr));
  margin: auto;
}

@media screen and (max-width: 1240px){
  .newsCardList{
    grid-template-columns:repeat(auto-fit, minmax(224px, 1fr));
    max-width: 688px;
    grid-gap: 8px;
  }
}

@media screen and (max-width: 709px){
  .newsCardList{
    grid-template-columns: 1fr 1fr;
    max-width: 709px;
    grid-gap: 8px;
    padding-left: 16px;
    padding-right: 16px; 
  }
}

@media screen and (max-width: 640px){
  .newsCardList{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px; 
    /* 
    padding-left: 16px;
    padding-right: 16px; 
    grid-template-columns: auto;
    */

  }
}