/* set width for full cardlist and cards and remove container */

.newsCardList{
  position: relative;
  max-width: 1232px;
  /* max-height: 1168px; */
  display: grid;
  grid-gap: 16px;
  grid-template-columns:repeat(auto-fit, minmax(400px, 1fr));
  margin: auto;
}

@media screen and (max-width: 1240px){
  .newsCardList{
    grid-template-columns:repeat(auto-fit, minmax(224px, 1fr));
    max-width: 688px;
    grid-gap: 8px;
  }
}

@media screen and (max-width: 592px){
  .newsCardList{
    max-width: 320px;
  }
}