.newsCard{
  background: #FFFFFF;
  border-radius: 16px 16px 0px 0px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 578px;
  border-radius: 16px;
}

.newsCard__image{
  border-radius: 16px 16px 0px 0px;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 400px;
  min-height: 272px;
  align-self: center;
  position: relative;
  width: 100%;
  text-align: center;
}

.newsCard__keyword{
  visibility: hidden;
}

.App__saved-news .newsCard__keyword{
  visibility: visible;
  padding: 8px 20px; 
  background-color: #FFFFFF;
  border-radius: 10px;
  position: absolute;
  top: 24px;
  left: 24px;
  font-weight: 500; 
  font-family: "Roboto", Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.App__saved-news .newsCard__button{
  background-image: url("../../images/icon/trash.svg");
}

.App__saved-news .newsCard__button:hover{
  background-image: url("../../images/icon/trash-hover.svg");
}

.App__saved-news .newsCard__button.newsCard__button_marked{
  background-image: url("../../images/icon/trash.svg");
}

.newsCard__button{
  width: 40px;
  height: 40px;
  padding: 8px;
  background-image: url("../../images/icon/bookmark.svg");
  background-position: center;
  object-fit: cover; 
  background-repeat: no-repeat;
  border: none;
  align-self: center;
  background-color: #FFFFFF;
  border-radius: 10px;
  position: absolute;
  top: 24px;
  right: 24px;
}

.newsCard__button:hover{
  background-image: url("../../images/icon/bookmark-hover.svg");
}

.newsCard__button.newsCard__button_marked{
  background-image: url("../../images/icon/boomark-marked.svg");
}

.newsCard__date{
  padding: 8px 24px 24px 24px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
}

.newsCard__title{
  padding: 0px 24px 16px 24px;
  font-family: "Roboto Slab", Times, serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 24px;
  color: #1A1B22;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 60px;
}

.newsCard__description{
  padding: 0px 24px 40px 24px;
  font-family: "Roboto", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 88px;
}

.newsCard__source{
  padding-left: 24px;
  padding-right: 24px;
  font-family: "Roboto Slab", Times, serif;;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #B6BCBF;
}


@media screen and (max-width: 1250px){
  .newsCard{
    max-width: 224px;
    max-height: 420px;
  }
  .newsCard__image{
    min-width: 224px;
    min-height: 150px;
  }

  .newsCard__button{
    top: 8px;
    right: 8px;
  }

  .newsCard__keyword{
    top: 8px;
    left: 8px;
  }

  .newsCard__date{
    padding: 20px 0px 8px 15px;
  }

  .newsCard__title{
    padding: 0px 16px 10px 16px;
    max-height: 72px;
  }

  .newsCard__description{
    padding: 0px 16px 12px 16px;
    max-height: 88px;
  }
}

@media screen and (max-width: 709px){
  .newsCard{
    min-width: 288px;
  }
  .newsCard__image{
    min-width: 288px;
    min-height: 196px;
  }

  .newsCard__button{
    top: 16px;
    right: 16px;
  }

  .newsCard__keyword{
    top: 16px;
    left: 16px;
  }

  .newsCard__date{
    padding: 16px 16px 10px 16px;
  }

  .newsCard__title{
    padding: 0px 16px 18px 16px;
    height: 24px;
  }

  .newsCard__description{
    padding: 0px 16px 8px 16px;
    height: 88px;
  }
}